body{

font-family:Segoe UI,sans-serif;

background:#eef4ff;

margin:0;

}

header{

background:linear-gradient(
135deg,
#1565c0,
#42a5f5
);

color:white;

padding:40px;

text-align:center;

}

.contenedor{

max-width:1000px;

margin:auto;

padding:30px;

}

.imagen img{

width:100%;

max-width:450px;

display:block;

margin:auto;

border-radius:15px;

}

.lectura{

background:white;

padding:25px;

margin-top:20px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.15);

font-size:22px;

line-height:1.8;

}

.preguntas{

background:#fff8e1;

padding:25px;

margin-top:20px;

border-radius:15px;

}

button{

padding:15px 30px;

border:none;

border-radius:50px;

font-size:20px;

cursor:pointer;

margin:10px;

background:#1565c0;

color:white;

}

button:hover{

transform:scale(1.05);

}